
.navbar{
    margin-bottom: 2rem;
}

.card-title{
    color: darkblue;
    margin: 1rem;
    text-align: center;
}

.card-body{
    background-color: rgb(153, 202, 241);
}

.lists1{
    color: rgb(17, 113, 192);
}

.col-sm{
    margin: 2rem;
}

.nav_title{
    font-family: 'Times New Roman', Times, serif;
    color: darkcyan;
    font-size: 2rem;
}

.quo{
    background-color: rgb(67, 69, 70);
    padding: 1rem;
    margin: 1rem;
    width: 50%;
    margin: auto;
    margin-bottom: 1.5rem;
}

.features_head{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: lavender;
}

.feture_head_text{
    color: blue;
}

.container{
    margin-top: 1rem;
}

.q_text{
    font-size: 1.6rem;
    color: cyan;
}

.features{
    text-align: center;
}

.feature_icon{
    text-align: center;
    font-size: 1rem;
    color: greenyellow;
    font-size: 2rem;
}

.feature{
    background-color: rgb(153, 202, 241);
    margin: 1rem;
    padding: 2rem;
}

.feature_title{
    padding: 1.2rem;
    font-size: 1.6rem;
    color: red;
}

.feature_text_box{
    font-size: 1.2rem;
}

.feature_text{
    color: khaki;
    max-width: 60vw;
    margin: auto;
}

.content_box{
    margin: .8rem;
    padding: 1rem;
    background-color: azure;
    text-align: center;
}

.col{
    border: 2px solid red;
}

.inner-box{
    margin: 1rem;
}

.intro_text{
    max-width: 60%;
    margin: auto;
    padding-bottom: 2rem;
}

.intro_text1{
    text-align: center;
}

.card_btn{
    text-align: center;
    margin: 1rem;
}

/* .home_ques{
    
} */

.spec_text{
    color: red;
}

.footer{
    padding: 1rem;
    min-height: 9rem;
    height: 25%;
    background-color: rgb(192, 188, 188);
    text-align: center;
}

.footer_text{
    color: red;
}

.res_text{
    color: gray;
}